/**
 * 消息 客制化 CSS
 *
 * @since 0.0.1
 * @version 0.0.1
 * @author Brian
 * @date 2021/05/27
 */

//消息清單
#news-list {
	.card-body {
		.news-image {
			> img {
				width: 50px;
				height: 50px;
			}
		}
	}

	.card-title {
		font-size: 14px;
	}
}


//消息編輯頁
#news-edit {
	.nav-link {
		font-size: 14px;
		.active {
			font-size: 14px;
		}
	}

	.ck-content {
		height:300px;
	}

	//狀態提示字
	#edit-status, #edit-top {
		font-size: 12px;
	}

	.vue-switcher {
		padding-top: 14px;
		position: absolute;
	}
}
